.level2_you{
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
}
.level2_introduce{
	animation-delay:0.2s;
	-webkit-animation-delay:0.2s;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
}
.level2_lifeshow{
	animation-delay:2s;
	-webkit-animation-delay:2s;
}